@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-page {
  font-family: "Anton", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ebedf5;
  overflow: auto;
}

.user-avatar {
  width: 150px;
  height: 150px;
  background: url(../../assets/3.jpg);
}

.user-info {
  margin-right: 30px;
  border: 2px black solid;
  padding: 7px;
  background: #fff;
  box-shadow: 0 0 30px rgb(54, 48, 48);
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;

  .user-info-item {
    padding-bottom: 10px;
  }
}

.tickets-list {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 10px;
  border: 2px black solid;
  padding: 7px;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  background: #fff;
  box-shadow: 0 0 30px rgb(54, 48, 48);

  .ticket-item {
    display: flex;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px black dotted;
    max-width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      border-bottom: none;
    }
  }
}

.button-search-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-item-data {
  margin-top: 5px;
}

.ticket-list-update-button {
  margin-top: 4px;
}

@media screen and (max-width: 600px) {
  .user-page {
    flex-direction: column-reverse;
  }
  .user-info {
    display: none;
  }
  .tickets-list {
    margin-left: 0px;
  }
}
