@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

.user-page {
  font-family: "Anton", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ebedf5;
  overflow: auto;
}

.user-avatar {
  width: 150px;
  height: 150px;
  background: url(../../assets/3.jpg);
}

.user-info {
  margin-right: 30px;
  border: 2px black solid;
  padding: 7px;
  background: #fff;

  .user-info-item {
    padding-bottom: 10px;
  }
}

.tickets-list {
  display: flex;
  margin-left: 30px;
  border: 2px black solid;
  padding: 7px;
  background: #fff;

  .ticket-item {
    display: flex;
    list-style-type: none;
    padding-bottom: 10px;
    border-bottom: 2px black dotted;
    max-width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      border-bottom: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .user-page {
    flex-direction: column-reverse;
  }
  .user-info {
    margin-top: 400px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .tickets-list {
    margin-left: 0px;
  }
}
