@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-overlap {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.place-schema-booking {
  overflow: auto;
  width: 40vw;
  height: 40vh;
  border: 1px solid black;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.concert-description {
  width: 200px;
  max-height: 320px;
  background-color: #ffffffa6;
  padding: 10px 5px 10px 20px;
  box-shadow: 0 0 30px rgb(226, 209, 209);
  border-radius: 1.5%;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.place-schema {
  width: 400px;
}

.Modal {
  position: absolute;
  outline: none;
  z-index: 4;
  background-color: #f5f5fa;
  border: 1px solid orange;
  border-radius: 3%;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
