@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-overlap {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: linear-gradient(
    0deg,
    rgba(233, 229, 223, 1) 0%,
    rgba(230, 230, 230, 1) 50%
  );
}

.user-attention-zone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
  width: 70vw;
  height: 100vh;
  background-color: #f5f5fa;
}

.place-schema-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.square-schema {
  box-shadow: 0 0 30px rgb(90, 80, 80);
}

.concert-description {
  width: 200px;
  max-height: 320px;
  background-color: #f5f5fa00;
  padding: 10px 5px 10px 20px;
  box-shadow: 0 0 30px rgb(90, 80, 80);
  border-radius: 3%;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.place-schema {
  width: 400px;
}

.Modal {
  position: absolute;
  outline: none;
  z-index: 4;
  background-color: #f5f5fa;
  border: 1px solid orange;
  border-radius: 3%;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.booking-button-schema {
  margin-top: 20px;
  color: black;
  padding: 7px;
  border: 2px solid black;
  background: #f5f5fa;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    border-color: #ff8b38;
    color: #ff8b38;
  }
  &:not(:hover) {
    transition: 0.3s;
    border-color: black;
    color: black;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 415px) {
  .user-attention-zone {
    flex-direction: column-reverse;
    width: 100vw;
  }

  .concert-description {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.booking-description-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
