@import "../../mixins/input-animation.scss";
@keyframes comeIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.xmasonry .xblock {
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left 0.3s ease, top 0.3s ease;
}

.loading-block {
  width: 250px;
  height: 3em;
  background-color: #e6e6e6;
  margin-top: 30px;
}

.loading-spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  margin-left: 10px;
}

.navigation-arrow-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.building-name-list-item {
  margin-top: 10px;
}

.concert-name-list-item {
  margin-top: 10px;
}

.void-message {
  margin-top: 200px;
  font-size: 3em;
  rotate: -45deg;
}

.void-zone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list-description {
  display: flex;
  justify-content: space-between;
}

.card {
  background: url(../../assets/14.jpg);
  background-size: cover;
  height: 200px;
  border: solid 2px black;
  margin: 7px;
  padding: 5px;
  color: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px darkgray;
}

.filter-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.concert-link {
  text-decoration: none;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.filter-input-concerts {
  margin: 10px;
  width: 30vw;
  border: 0px;
  color: gray;
  background: #e6e6e600;
  border-bottom: 3px solid #ff8b38;
  padding-bottom: 4px;
  margin-top: 30px;
  font-size: 20px;
}

.overlap {
  background: #ebedf5;
  height: 100vh;
  overflow: auto;
}

.select-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  margin: 7px;
}

.city-select {
  appearance: none;
  background-color: white;
  border: 2px solid #e6e6e6;
  color: black;
  margin-right: 20px;
  text-align: center;
  padding: 3px;
}

select::-ms-expand {
  display: none;
}

.select-concerts {
  cursor: pointer;
  padding: 0 0.5em;
  background-image: none;
  outline: none;
  appearance: none;
  text-align: center;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  position: relative;
  display: flex;
  width: 250px;
  height: 3em;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: 0.25em;
  margin-top: 30px;
}

.clear-button {
  border-radius: 0.25em;
  margin-top: 30px;
  appearance: none;
  border: 0 !important;
  background-color: white;
  width: 250px;
  height: 3em;
  padding: 4px;
  margin-left: 20px;
  color: black;
}

@media screen and (max-width: 415px) {
  .filter-input-concerts {
    width: 70vw;
  }
  .select-concerts {
    text-overflow: ellipsis;
  }
}
