@import "../../mixins/input-animation.scss";
@keyframes comeIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.xmasonry .xblock {
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left 0.3s ease, top 0.3s ease;
}

.card {
  background: url(../../assets/9.jpg);
  height: 200px;
  border: solid 2px black;
  margin: 7px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 3px darkgray;
}

.filter-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-input {
  margin: 10px;
  width: 30vw;
  border: 0px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  @include input-animation(0.3s, #e6e6e6, #ff8b38);
}

.overlap {
  background: #ebedf5;
  height: 100vh;
  overflow: auto;
}

.select-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.city-select {
  appearance: none;
  border: 1px solid black;
}

.date-select {
  appearance: none;
  border: 1px solid black;
}
