@mixin input-animation($time, $colorBefore, $colorAfter) {
  &:hover {
    transition: $time;
    border-color: $colorAfter;
  }
  &:not(:hover) {
    transition: $time;
    border-color: $colorBefore;
  }
}
