.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5fa;
  border-bottom: 1px black solid;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.1em;
}

h1 {
  font-size: 1.3em;
}

.link {
  text-decoration: none;
}

.logo {
  flex-grow: 1;
  margin-left: 20px;
}

.link-bar {
  flex-grow: 5;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;

  .link {
    margin: 0 10px;
  }
}
