header {
  display: flex;
  justify-content: space-between;
  background: #e44d4d;
  border-bottom: 1px black solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 1.3em;
}

.logo {
  flex-grow: 1;
  margin-left: 20px;
}

.link-bar {
  flex-grow: 5;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;

  a {
    margin: 0 10px;
  }
}
