.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5fa;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px #e6e6e6 solid;
  font-size: 1.05em;
}

.link {
  text-decoration: none;
  color: gray;
}

.logo {
  flex-grow: 1;
  margin-left: 20px;
}

.link-bar {
  flex-grow: 5;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;

  .link {
    margin: 0 10px;
  }
}
