@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "../../mixins/input-animation.scss";

* {
  font-family: "Roboto", sans-serif;
}

.registration-layer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(../../assets/6.jpg) no-repeat center center;
  background-size: cover;
}
.registration-form {
  display: flex;
  text-align: center;
  width: 40%;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4% 4% 4% 4%;
  background: #f0f0f0;
  border-radius: 1.7%;
}

.email-input {
  margin-top: 30px;
  background: #e6e6e600;
  color: black;
  border: 0px;
  border-bottom: 2px solid black;
  font-size: 20px;
  @include input-animation(0.3s, #e6e6e6, #ff8b38);
}

.title {
  font-size: 25px;
  color: gray;
}

.password-input {
  border: 0px;
  margin-top: 30px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  @include input-animation(0.3s, #e6e6e6, #ff8b38);
}

.first-name-input {
  border: 0px;
  margin-top: 30px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  @include input-animation(0.3s, #e6e6e6, #ff8b38);
}
.last-name-input {
  border: 0px;
  margin-top: 30px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  @include input-animation(0.3s, #e6e6e6, #ff8b38);
}
.register-button {
  margin-top: 30px;
  color: black;
  padding: 7px;
  border: 2px solid black;
  background: #e6e6e600;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    border-color: #ff8b38;
    color: #ff8b38;
  }
  &:not(:hover) {
    transition: 0.3s;
    border-color: #e6e6e6;
    color: grey;
  }
}

@media screen and (max-width: 415px) {
  .registration-form {
    width: 80%;
    padding: 5% 5% 5% 5%;
  }
}
