@keyframes animation-input {
  0% {
    color: black;
    border-color: black;
  }
  100% {
    border-color: #ff8b38;
    color: #ff8b38;
  }
}

.layer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(../../assets/6.jpg) no-repeat center center;
  background-size: cover;
}
.registration-form {
  display: flex;
  text-align: center;
  width: 40%;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1% 1% 1% 1%;
  background: #e6e6e6cc;
}

.email-input {
  margin-top: 20px;
  background: #e6e6e600;
  color: black;
  border: 0px;
  border-bottom: 2px solid black;
  font-size: 20px;
  &:hover {
    transition: 0.4s;
    border-color: #ff8b38;
  }
  &:not(:hover) {
    transition: 0.4s;
    border-color: black;
  }
}

.password-input {
  border: 0px;
  margin-top: 20px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  &:hover {
    transition: 0.4s;
    border-color: #ff8b38;
  }
  &:not(:hover) {
    transition: 0.4s;
    border-color: black;
  }
}
.first-name-input {
  border: 0px;
  margin-top: 20px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  &:hover {
    transition: 0.4s;
    border-color: #ff8b38;
  }
  &:not(:hover) {
    transition: 0.4s;
    border-color: black;
  }
}
.last-name-input {
  border: 0px;
  margin-top: 20px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  &:hover {
    transition: 0.4s;
    border-color: #ff8b38;
  }
  &:not(:hover) {
    transition: 0.4s;
    border-color: black;
  }
}
.register-button {
  margin-top: 20px;
  color: black;
  padding: 7px;
  border: 2px solid black;
  background: #e6e6e600;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    transition: 0.4s;
    border-color: #ff8b38;
    color: #ff8b38;
  }
  &:not(:hover) {
    transition: 0.5s;
    border-color: black;
    color: black;
  }
}

@media screen and (min-width: 320px) {
  .first-name-input {
  }
}
