@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@mixin input-animation($time, $colorBefore, $colorAfter) {
  &:hover {
    transition: $time;
    border-color: $colorAfter;
  }
  &:not(:hover) {
    transition: $time;
    border-color: $colorBefore;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.layer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(../../assets/6.jpg) no-repeat center center;
  background-size: cover;
}
.registration-form {
  display: flex;
  text-align: center;
  width: 40%;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1% 1% 1% 1%;
  background: #ffffffcc;
}

.email-input {
  margin-top: 20px;
  background: #e6e6e600;
  color: black;
  border: 0px;
  border-bottom: 2px solid black;
  font-size: 20px;
  @include input-animation(0.3s, black, #ff8b38);
}

.password-input {
  border: 0px;
  margin-top: 20px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  @include input-animation(0.3s, black, #ff8b38);
}

.first-name-input {
  border: 0px;
  margin-top: 20px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  @include input-animation(0.3s, black, #ff8b38);
}
.last-name-input {
  border: 0px;
  margin-top: 20px;
  color: black;
  background: #e6e6e600;
  border-bottom: 2px solid black;
  font-size: 20px;
  @include input-animation(0.3s, black, #ff8b38);
}
.register-button {
  margin-top: 20px;
  color: black;
  padding: 7px;
  border: 2px solid black;
  background: #e6e6e600;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    border-color: #ff8b38;
    color: #ff8b38;
  }
  &:not(:hover) {
    transition: 0.3s;
    border-color: black;
    color: black;
  }
}

@media screen and (min-width: 320px) {
  .registration-form {
    width: 80%;
    padding: 5% 5% 5% 5%;
  }
}
